<h1>User List</h1>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Given Name</th>
      <th>Surname</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.given_name %></td>
      <td><%= user.surname %></td>
      <td>
        <%= link_to 'Edit', edit_user_path(user) %>
      </td>
      <td>
        <%= link_to 'Remove', user, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
